@font-face {
    font-family: HelveticaNeue;
    src: url(fonts/helvetica_neue/HelveticaNeue.ttf);
}
@font-face {
    font-family: HelveticaNeueCondensedBold;
    src: url(fonts/helvetica_neue/HelveticaNeue-CondensedBold.ttf);
}

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Oswald-Regular.ttf");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

*{ -webkit-tap-highlight-color :rgba(0, 0, 0, 0); }
html{
    font-size:14px;
    height:100%;
}
body{
    -webkit-touch-callout    :none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust :none; /* prevent webkit from resizing text to fit */
    -webkit-user-select      :none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color         :#E4E4E4;
    background-image         :linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image         :-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image         :-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image         :-webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #A7A7A7),
            color-stop(0.51, #E4E4E4)
    );
    background-attachment    :fixed;
    font-family              :'HelveticaNeue', HelveticaNeue, Helvetica, Arial, sans-serif;
    height                   :100%;
    margin                   :0;
    padding                  :0;
    width                    :100%;
    font-size:1.8em;


}

#splash-page .content{
    background-image: url(../img/Splash.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #003838;
    width: 100%;
    height: 600px;
    min-height: 600px;
    display: table;
}
/* Portrait layout (default) */
.app{
    position   :absolute; /* position in the center of the screen */
    left       :50%;
    top        :50%;
    height     :50px; /* text area height */
    width      :225px; /* text area width */
    text-align :center;
    padding    :180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin     :-115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio :1/1) and (min-width :420px){
    .app{
        background-position :left center;
        padding             :75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin              :-90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

.horizontal-center{
    margin-left  :auto;
    margin-right :auto;
}

h1{
    font-size   :72px;
    font-weight :normal;
    margin      :0px;
    overflow    :visible;
    padding     :0px;
    text-align  :center;
}

.event{
    border-radius         :4px;
    -webkit-border-radius :4px;
    color                 :#FFFFFF;
    font-size             :48px;
    margin                :0px 30px;
    padding               :2px 0px;
}

.event.listening{
    background-color :#333333;
    display          :block;
}

.event.received{
    background-color :#4B946A;
    display          :none;
}

@keyframes fade{
    from{ opacity :1.0; }
    50%{ opacity :0.4; }
    to{ opacity :1.0; }
}

@-webkit-keyframes fade{
    from{ opacity :1.0; }
    50%{ opacity :0.4; }
    to{ opacity :1.0; }
}

.blink{
    animation         :fade 3000ms infinite;
    -webkit-animation :fade 3000ms infinite;
}

input.ui-slider-input{
    display :none;
}

#gauge-div{
}

body, html{
    height  :100%;
    margin  :0;
    padding :0;
}

.ui-content{
    padding :0px;
}

.ui-content,
.ui-content #full-height-div{ /* divs will inherit page's height */
    height :inherit;
}

#results-header{
    margin :0;
}

.center-field{
    margin-left  :auto;
    margin-right :auto;
    text-align   :center;
}
.simple-label{

}

.highlight-label{
    margin-bottom :2px;
    margin-top    :5px;
    font-weight   :bold;
    font-size     :48px;
}

.highlight-label2{
    font-weight :bold;
    font-size   :32px;
}

.highlight-label3{
    margin-top    :2px;
    margin-bottom :2px;
    font-weight   :bold;
    font-size     :24px;
    padding-top   :5px;
}

.ui-grid-a p{
    margin  :1px;
    padding :0;
}

.result-block{
    width            :60%;
    height           :200px;
    border           :outset #005599 1px;
    margin-left      :auto;
    margin-right     :auto;
    background-color :greenyellow;
    display          :table;
}

.result-block p{
    vertical-align :middle;
    display        :table-cell;
    font-weight    :bold;
    font-size      :48px;
}

.header{
    min-height:4em;
    padding: 0.23em 1em;
    background-color:#003838 !important;
    color:#FFFFFF !important;
    font-weight:normal !important;
    text-align: center !important;
}

.result-line{
    background-color :#A6C9E2;
    margin-top       :0;
}

.ui-mobile label, div.ui-controlgroup-label{
    font-size   :24px;
    font-weight :bold;
}

#gauge-wr{
    display :flex;
}

#gauge-div{
    width   :80%;
    display :block;
    margin  :0 auto;
}

#gauge-txt{
    width: 5em;
    top: 2em;
    left: 45%;
    text-transform: none;
    border-style: groove;
    border-radius: 10px;
    border-color: #00a34c;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 2em;
}

.ui-btn{
    font-size   :1em;
    line-height :2;
    border:0;
    padding: .4em 1em;
}
.ui-btn:focus{
    box-shadow:none !important;
}
#back-to-form{
}

.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover{
    background-color :#84A0DC /*{a-bhover-background-color}*/;
    border-color     :#DDDDDD /*{a-bhover-border}*/;
    color            :#333333 /*{a-bhover-color}*/;
    text-shadow      :0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #F3F3F3 /*{a-bhover-shadow-color}*/;
}

.ui-collapsible-content .ui-btn{
    font-size   : 1em;
    line-height : 1.5em;
}
#calculate{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2em;
    margin-bottom: 1em;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #00a59b;
}

.ui-collapsible{
    font-size:1.2em;
}
.ui-collapsible-set .ui-collapsible-inset{
    margin-top:0;
}

.ui-collapsible-heading .ui-btn{
    padding:0.4em 1em;
}
.ui-collapsible-heading-toggle{
    color:#FFFFFF !important;
    font-weight:normal !important;
}

.ui-collapsible-heading .ui-collapsible-heading-toggle{
    background-color:#0f5e42 !important;
}
.ui-collapsible-heading-collapsed .ui-collapsible-heading-toggle{
    background-color:#FFFFFF !important;
    color:#000000 !important;
}
.ui-collapsible-inset, .ui-collapsible-set, .ui-header .ui-title{
    margin :0;
}
#form-page{
    overflow-x:hidden !important;
}

#selection-set{
    border-radius:0;
}
.ui-header, .ui-footer,
.ui-collapsible-inset .ui-collapsible-themed-content .ui-collapsible-content,
.ui-collapsible-themed-content .ui-collapsible-content{
    border:0;
}
.ui-header .ui-btn, .ui-header .ui-btn:active{
     background-color: transparent;
     border-color: transparent;
 }

.ui-header .ui-btn:hover{
    background-color: rgb(43, 144, 117);
    border-color: transparent;
}
.ui-icon-star:after, .ui-icon-bars:after{
    background-size:contain;
}
.ui-header .ui-btn-icon-left:after,
.ui-header .ui-btn-icon-right:after,
.ui-header .ui-btn-icon-top:after,
.ui-header .ui-btn-icon-bottom:after,
.ui-header .ui-btn-icon-notext:after{
    border-radius:1px;
}

.ui-collapsible-heading-toggle{
    text-shadow:none !important;
}

/* list circle icon*/
.circle {
    display: inline-block;
    border: solid 2px #FFFFFF;
    border-radius: 28.28px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    line-height: 40px;
}
.ui-collapsible-heading-collapsed .circle{
    border: solid 2px #8ecec9;
    color: #8ecec9;
    font-weight: bold;
}

#select-choice-man-button,
#select-choice-model-button,
#select-choice-size-button,
#select-choice-man1-button,
#select-choice-model1-button,
#select-choice-size1-button{
    box-shadow: none;
    background: none;
}
.ui-collapsible-content{
    padding:0;
}

.menu-btn.ui-btn-icon-notext{
    top: 50%;
    margin-top: -20px;
    width:40px;
    height:40px;
}

.menu-btn.ui-btn-icon-notext:after {
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;

}
.ui-slider{
    margin-bottom : 1em !important;
    margin-top    : 1em !important;
}
.ui-slider-track{
    height :0.5em;
    margin-left  :2em;
    margin-right :2em;
    background-color:#FFFFFF;
}

.ui-slider-track .ui-btn.ui-slider-handle{
    width         : 2.4em;
    height        : 2.4em;
    margin        : -1.2em 0 0 -1.2em;
    border-radius : 1.2em;
}

.circle {
    display: inline-block;
    border: solid 2px #FFFFFF;
    border-radius: 28.28px;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    line-height: 50px;
}
.ui-listview a.ui-btn{
    line-height: 4em;
}
.ui-panel .ui-listview .ui-first-child .ui-btn{
    line-height: 2.27em;
}
.ui-panel .ui-listview > li.ui-first-child > a.ui-btn:after{
    background: none;
}

.ui-grid-a a[id*="select-"]{
    padding:0;
    height: 11.8em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    background-color:transparent;
}
.ui-grid-a a[id*="select-"]:hover{
    background-color:transparent;
}
#select-tractors{
    background-image:url(../img/tractors.png);
}
#select-combines{
    background-image:url(../img/combines.png);
}
#select-sprayers{
    background-image:url(../img/sprayers.png);
}
#select-trailed{
    background-image:url(../img/trailed.png);
}

#select-tractors:hover,
#select-combines:hover,
#select-sprayers:hover,
#select-trailed:hover{
    background-color:#8ecec9;
}
.inline{
    display:inline-block;
}
.keep_right{
    float:right;
}
.ui-listview > .ui-li-static{
    padding:0.5em 1em;
}
.inline .ui-select .ui-btn{
    padding-right:2.4em;
    font-weight: normal;
    line-height: 1.887em;
    color: darkgrey !important;
    text-transform:capitalize;
}
.select-label{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: .4em 1em;
    line-height: 1.887em;
}
.inline .ui-input-text, .inline .ui-input-search{
    margin:0;
}
.ui-field-contain{
    overflow:hidden;
}
.ui-select{
    padding: 0;
}
.ui-selectmenu-list{
    text-transform:capitalize;
}

#results-area{
    padding-top: 1.5em;
    /*border-top: 1px solid rgba(0,0,0,.15);*/
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.result-label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    font-family:'HelveticaNeueCondensedBold', HelveticaNeue, Helvetica, Arial, sans-serif;
}

.result-box{
    border: 2px inset #00a59b;
    border-radius: 7px;
    padding: 0.3em;
    margin-right: 1em !important;
    min-width: 9em;
    font-size: 1.5em !important;
    font-family:'HelveticaNeueCondensedBold', HelveticaNeue, Helvetica, Arial, sans-serif;
    text-align:center;
}
.ui-page, .ui-content{
    min-height:100vh;
}

.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 150ms;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-duration: 150ms;
}
.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 125ms;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 125ms;
    animation-timing-function: ease-in;
    animation-duration: 125ms;
}
#gauge-wr{
    background-image: url("../img/TP_dial.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em;
    text-align: center;
}
#gauge-wr img{
    width: 10em;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.ui-input-search.ui-input-has-clear .ui-btn.ui-input-clear, .ui-input-text.ui-input-has-clear .ui-btn.ui-input-clear{
    margin: -1.2em -1em 0;
}
.ui-title{

}
#fav-list{
    margin:0;
}
.ui-listview > .ui-li-has-icon > img:first-child, .ui-listview > .ui-li-has-icon > .ui-btn > img:first-child{
    top:1.8em;
}

.ui-slider-handle{
    background-color: #00a59b !important;
}

#about-page .content p, #about-page .content h2, #about-page .content h3 {
   // text-indent: 2em;
    margin-left: 1em;
    margin-right: 0.5em;
    text-align: left;
}

.ui-collapsible .ui-listview{
    margin-bottom: 1em;
}
.choice-machine-type
{
    width        : 7em;
    height       : 7em !important;
    margin-left  : auto !important;
    margin-right : auto !important;
}
@media screen and (max-width :800px){
    body{
        font-size:2em;
    }
    body #results{

    }

    h1{
        font-size   :36px;
        font-weight :normal;
        margin      :0px;
        overflow    :visible;
        padding     :0px;
        text-align  :center;
    }

    .event{
        border-radius         :4px;
        -webkit-border-radius :4px;
        color                 :#FFFFFF;
        font-size             :24px;
        margin                :0px 30px;
        padding               :2px 0px;
    }

    .highlight-label{
        margin-bottom :2px;
        margin-top    :5px;
        font-weight   :bold;
        font-size     :24px;
    }

    .highlight-label2{
        font-weight :bold;
        font-size   :16px;
    }

    .highlight-label3{
        margin-top    :2px;
        margin-bottom :2px;
        font-weight   :bold;
        font-size     :24px;
        padding-top   :5px;
    }

    .result-block p{
        vertical-align :middle;
        display        :table-cell;
        font-weight    :bold;
        font-size      :24px;
    }

    .ui-mobile label, div.ui-controlgroup-label{
        font-size   :16px;
        font-weight :bold;
    }

    .ui-input-text input, .ui-input-search input{
        margin                :0;
        min-height            :1em;
        text-align            :left;
        border                :0;
        background            :transparent none;
        -webkit-appearance    :none;
        -webkit-border-radius :inherit;
        border-radius         :inherit;
    }

    canvas{
    }

    .ui-content{
        border-width :0;
        overflow     :visible;
    }

    #results-header{
        font-size :24px;
    }

    #back-to-form{
        margin    :0;
        font-size :smaller;
    }

    #details-area{
        margin-top :0px;
    }
}

@media screen and (max-width :480px){
    body{
        font-size:1.4em;
    }

    body #results{
        font-size :30px;
    }

    .result-block{
        width            :60%;
        height           :60px;
        border           :outset #005599 1px;
        margin-left      :auto;
        margin-right     :auto;
        background-color :greenyellow;
        display          :table;
    }

    .highlight-label3{
        margin-top    :2px;
        margin-bottom :2px;
        font-weight   :bold;
        font-size     :18px;
        padding-top   :5px;
    }
}

@media screen and (max-width :360px){

    body{
        font-size: 1em;
    }
    #favourite-page .ui-input-text input, .ui-input-search input, textarea.ui-input-text{
        max-width: 100%;
    }
    #fav-list > li p{

        font-size: 1.5em;
    }
}

.next-btn{
    background-color: #24AFA7 !important;
}
.title-logo{
    margin-top: .8em;
    height: 2em;
}

.ui-title{
    padding-top :1em !important;
    display:inline-block !important;
    font-family: Oswald;
}

.ui-listview .details{
}

.ui-listview .details div{
    white-space    : pre-wrap;
    white-space    : -moz-pre-wrap;
    white-space    : -pre-wrap;
    white-space    : -o-pre-wrap;
    word-wrap      : break-word;
    padding-left   : 1em;
    padding-right  : 1em;
    padding-bottom : 0.2em;
    padding-top    : 0.2em;
}
#login-wig
{
    padding: 1.5em;
    display : table-cell;
    vertical-align : middle;
}

#login-wig form{
    background-color : rgba(96, 183, 65, 0.62);
    padding: 0.5em;
    border-radius: 1em;
}

#login-wig form label{
    text-shadow: none;
    color: white;
    font-weight: normal;
}
#login-wig form h2{
    text-align: center;
    color: white;
}

#login-wig form .ui-input-text input{
    max-width: inherit;
    text-align: center;
}

.ui-page-active{
    min-height: 100%;
    height: 100vh;
}
#tyreload, #tyreload1{
    width:5.5em;
}

#tnc-page .content{
    padding: 0.5em;
}


.ui-input-text input, .ui-input-search input, textarea.ui-input-text{
    width: 100%;
    font-size: 1em;
    padding: 0.2em;
    line-height: 1.5em;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    text-align: left;
    padding-left: 1.5em;
}
